@import "tailwindcss";

/* Smooth infinite marquee */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: infinite-scroll 20s linear infinite;
}
