@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import "tailwindcss";
@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-jura: "Jura", sans-serif;
}

